.cardContainer {
  position: relative;
  max-height: 22vh;
}

.selectedCard {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: gray;
  opacity: 0.75;
  top: 0;
  border-radius: 10px;
}

.isPartSet {
  width: 100%;
  height: 100%;
  background-color: green;
  opacity: 0.5;
  position: absolute;
  top: 0;
  border-radius: 10px;
}

.isNotPartSet {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  background-color: red;
  top: 0;
  border-radius: 10px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
