.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
  margin: 10px;
}

.img {
  width: 200px;
  height: 120px;
}

.card {
  padding: 5px;
  border-radius: 10px;
  position: relative;
}

.selectedCard,
.isNotPartSet,
.isPartSet {
  /* border-style: solid; */
  /* border-width: 3px; */
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.5;
}

.selectedCard {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.5;
  z-index: 0;
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.5;
}

.isPartSet {
  border-color: green;
}

.isNotPartSet {
  border-color: red;
}
