.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.card {
  padding: 5px;
  border-radius: 10px;
}

.selectedCard,
.isNotPartSet,
.isPartSet {
  border-style: solid;
  border-width: 3px;
}

.selectedCard {
  border-color: yellow;
}

.isPartSet {
  border-color: green;
}

.isNotPartSet {
  border-color: red;
}
