* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: lightgrey;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* APP LAYOUT */
.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

h2 {
  text-align: center;
  padding: 15px;
}

.scoreboard {
  display: grid;
}
